    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Sivar</h2>
                <p> Sivar is an aspiring data scientist/machine learning engineer who loves delving into the possibilities of AI and machine learning. 
                    He finds the idea of creating solutions and models using machine learning extremely captivating, and this passion has led him to 
                    pursue a career in the field. Sivar's portfolio demonstrates his skills in developing efficient and accurate models, working with 
                    large datasets, and his drive to find new ways to apply machine learning to real-world problems.
                </p>
            </div>
        </div>
    </section>