    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Sivar</h2>
                <p> Sivar is an aspiring data scientist/machine learning engineer who loves delving into the possibilities of AI and machine learning. 
                    He finds the idea of creating solutions and models using machine learning extremely captivating, and this passion has led him to pursue a career in the field. 
                    Sivar's portfolio demonstrates his skills in developing efficient and accurate models, working with large datasets, and his relentless drive to find new ways 
                    to apply machine learning to real-world problems.
                </p>
                <p> When he's not working, Sivar loves to experiment with different ways of using AI for creative purposes. He draws inspiration from the boundless possibilities 
                    of these technologies and is constantly pushing himself to find new methods of utilizing them. </p>
            </div>
        </div>
    </section>