<section id="experience" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div style="text-align: center; padding-bottom: 30px;">
                <h2>Experience</h2>
            </div>
            <h3>Certifications:</h3>
            <div class="certifications" style="font-size: 10;">
                
                <a href="https://github.com/Sivarazadi/Coursera-Deep-Learning-Projects" style="font-size: medium;"><strong>Coursera Deep Learning Specialization </strong>
                </a>
                <p style="font-size: small;">
                    Relevant skills: Artifical Neural Networks, Hyperparameter Tuning, Recurrent Neural Networks (RNNs), Convultional Neural Networks (CNNs), LSTMs
                </p>

                <a href="https://github.com/Sivarazadi/DataCamp-Associate-Data-Scientist-Certification" style="font-size: medium;"><strong>DataCamp Associate Data Scientist </strong>
                </a>
                <p style="font-size: small;">
                    Relevant skills: Statistical Experimentation, Data Management in Python, Exploratory Analysis, Communication and Visualization
                </p>

                <a style="font-size: medium;"><strong>AWS Associate Solutions Architect Course </strong>
                </a>
                <p style="font-size: small;">
                    Relevant skills: Cloud Design and Deployment, EC2, S3, AWS Automation Tools, VPC, RDS, Disaster Recovery and Availability, Route 53
                </p>

            </div>
            <h3>Projects:</h3>
            <div class="projects">

                <a href="https://github.com/Sivarazadi/Breast-Cancer-Image-Segmentation" style="font-size: medium;"><strong> Identifying and Outlining Breast Cancer Tumors </strong> 
                </a>
                <i>
                    <p style="font-size: small; padding-top: 10px;">
                        Developed a deep U-Net model for image segmentation to detect cancer in ultrasound images, resulting in a validation accuracy of ∼ 95%, Mean IoU of 0.735, 
                        and F1 score of 0.793 on the test set. Visualized true masks and model masks to compare the predicted location of cancer with the ground truth annotation, 
                        contributing to cancer recognition  </p>
                </i>
                <div class="image" style="text-align: center; padding-bottom: 15px;">
                    <img src="img/cancer-model.jpg" style="width:600px;height: 300px;text-align: center; padding-right: 10px; padding-top: 10px;" alt="" />
                </div>

                <a href="https://github.com/Sivarazadi/AI-as-an-Art-Historian-Binary-Classification" style="font-size: medium;"><strong> AI Art Curator: Binary Classification </strong>
                </a>
                <i>
                    <p style="font-size: small; padding-top: 10px;">
                        Built a binary classification model that can classify artworks in different art movements using image augmentation techniques and pre-trained ResNet50V2 model. Scraped the dataset using 'WikiArt Retriever' by Lucas David and uploaded to Kaggle for public use  </p>
                </i>
                <div class="image" style="text-align: center; padding-bottom: 15px;">
                    <img src="img/Artwork-Classification-Accuracy.jpg" style="width:350px;height:300x;text-align: center; padding-right: 10px; padding-top: 10px;" alt="" />
                </div>

                <a href="https://github.com/Sivarazadi/K-Means-Spotify-Song-Clustering" style="font-size: medium;"><strong> Spotify Song Grouping with K-Means Clustering </strong>
                </a>
                <i>
                    <p style="font-size: small; padding-top: 10px;">
                        Implemented data preprocessing techniques, including cleaning and normalizing values, on a dataset of Spotify songs to prepare
                        for clustering using K-Means algorithm. Evaluated the quality of the resulting clusters using silhouette score evaluation metrics 
                        and visualized the clusters through 2D projections, coloring data points according to cluster assignment  </p>
                </i>

                <a href="https://github.com/Sivarazadi/Language-Detection" style="font-size: medium;"><strong> Language Detection with Deep Learning </strong>
                </a>
                <i>
                    <p style="font-size: small; padding-top: 10px;">
                        Built deep learning module for text-to-language detection, with 18 languages and 97.9% accuracy, using Language Detection and 4000+ Kurdish words dataset from Kaggle  </p>
                </i>
                
                <a href="https://github.com/Sivarazadi/CRNN-Words" style="font-size: medium;"><strong> Text From Image Recognition with Convolutional Recurrent Neural Network (CRNN)   </strong> 
                </a>
                <i>
                    <p style="font-size: small; padding-top: 10px;">
                        Developed model to recognize text from images of common English words employeeing keras tuner for hyperparameter tuning. This model was trained on the combination of the Synthetic Word dataset on kaggle and a character level image dataset.   
                     </p>
                </i>

                <a href="https://github.com/Sivarazadi/Boston-Crime-Mapping-Analysis" style="font-size: medium;"><strong> Boston Crime Mapping and Analysis  </strong>
                </a>
                <i>
                    <p style="font-size: small; padding-top: 10px;">
                        Created several mappings of crime geospatial data in Boston. Performed analysis of interesting features of data such as crime over time using time-series and most commited crimes.     
                     </p>
                </i>

            </div>
            <div class="image" style="text-align: center; padding-bottom: 15px;">
                <img src="img/m_1_gif.gif" style="width:350px;height:300x;text-align: center; padding-right: 10px; padding-top: 10px;" alt="" />
                <img src="img/treemap.png" style="width:350px;height:300x;text-align: center; padding-left: 10px; padding-top: 10px; " alt="" />
            </div>

            <h3>Ongoing Projects:</h3>
            <div class="projects">

                <p style="font-size: medium;"><strong> Dynamic Object Tracking </strong> 
                </a>
                <i>
                    <p style="font-size: small; padding-top: 10px;">
                        Deep learning-based computer vision project for real-time object tracking in videos
                    </p>
                </i>

                <p style="font-size: medium;"><strong> Data-Driven Justice: Supreme Court Predictions </strong>
                </p>
                <i>
                    <p style="font-size: small; padding-top: 10px;">
                        Developing predictive model using NLP techniques to determine the outcome of Supreme Court cases from a dataset of 3304 cases from 1955 to 2021
                    </p>
                </i>
    
                <p style="font-size: medium;"><strong> Cost of Living Insights: A Global Analysis of Urban Economies </strong> 
                </p>
                <i>
                    <p style="font-size: small; padding-top: 10px;">
                        Analysis of global urban economies using a dataset of over 4500 cities to provide valuable insights on cost of living trends, 
                        utilizing data visualization and statistical techniques
                    </p>
                </i>
            </div>
        </div>
    </div>
    </div>
</section>