<section id="experience" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div style="text-align: center; padding-bottom: 30px;">
                <h2>Experience</h2>
            </div>
            <h3>Certifications:</h3>
            <div class="certifications" style="font-size: 10;">
                <p style="font-size: small;"><b>Coursera Deep Learning Specialization</b>
                    <br> Relevant skills: Artifical Neural Networks, Hyperparameter Tuning, Recurrent Neural Networks (CNNs), Convultional Neural Networks (CNNs), LSTMs<br/>
                </p>

                <p style="font-size: small;"><b> DataCamp Associate Data Scientist </b> 
                    <br>Relevant skills: Statistical Experimentation, Data Management in Python, Exploratory Analysis, Communication and Visualization<br/>
                </p>
            </div>
            <h3>Projects:</h3>
            <div class="projects">
                <a style="font-size: small;"><strong> Project1 </strong> -
                    Date/Programs
                </a>
                <i>
                    <p style="font-size: x-small; padding-top: 10px;">
                        Description1:   </p>
                </i>
                <a style="font-size: small;"><strong>Project2</strong> - Date/Programs </a>
                <i>
                    <p style="font-size: x-small; padding-top: 10px;">
                        Description2:   </p>
                </i>
            </div>
        </div>
    </div>
    </div>
</section>