<section id="experience" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div style="text-align: center; padding-bottom: 30px;">
                <h2>Experience</h2>
            </div>
            <h3>Certifications:</h3>
            <div class="certifications" style="font-size: 10;">
                
                <a href="https://github.com/Sivarazadi/Coursera-Deep-Learning-Projects" style="font-size: small;"><strong>Coursera Deep Learning Specialization </strong>
                </a>
                <p style="font-size: small;">
                    Relevant skills: Artifical Neural Networks, Hyperparameter Tuning, Recurrent Neural Networks (RNNs), Convultional Neural Networks (CNNs), LSTMs
                </p>

                <a href="https://github.com/Sivarazadi/DataCamp-Associate-Data-Scientist-Certification" style="font-size: small;"><strong>DataCamp Associate Data Scientist </strong>
                </a>
                <p style="font-size: small;">
                    Relevant skills: Statistical Experimentation, Data Management in Python, Exploratory Analysis, Communication and Visualization
                </p>

            </div>
            <h3>Completed Projects:</h3>
            <div class="projects">
                <a href="https://github.com/Sivarazadi/Language-Detection" style="font-size: small;"><strong> Language Detection with Deep Learning </strong> -
                    Python/TensorFlow/Keras 
                </a>
                <i>
                    <p style="font-size: small; padding-top: 10px;">
                        Built deep learning module for text-to-language detection, with 18 languages and 97.9% accuracy, using Language Detection and 4000+ Kurdish words dataset from Kaggle  </p>
                </i>
                <a href="https://github.com/Sivarazadi/CRNN-Words" style="font-size: small;"><strong> Image Text Recognition with Convolutional Recurrent Neural Network (CRNN)   </strong> -
                    Python/TensorFlow/Keras 
                </a>
                <i>
                    <p style="font-size: small; padding-top: 10px;">
                        Developed model to recognize text from images of common English words employeeing keras tuner for hyperparameter tuning. This model was trained on the combination of the Synthetic Word dataset on kaggle and a character level image dataset.   
                     </p>
                </i>
            </div>

            <h3>Ongoing Projects:</h3>
            <div class="projects">
                <p style="font-size: small;"><strong> Bostom Crime Mapping and Prediction </strong> -
                    Python/TensorFlow/Keras 
                </p>
                <i>
                    <p style="font-size: small; padding-top: 10px;">
                        Building interactive maps of geospatial data to show occurence of different offenses in Boston and creating a model to predict where a future crime will be committed.  
                    </p>
                </i>
                <p style="font-size: small;"><strong> Detecting Artist from Artworks </strong> -
                    Python/TensorFlow/Keras 
                </a>
                <i>
                    <p style="font-size: small; padding-top: 10px;">
                        Constructing Convultional Neural Network (CNN) to identify artwork from 56 artists using <a href="https://github.com/lucasdavid/wikiart" style="font-size: small;">Wikiart Retriever</a> to gather dataset
                    </p>
                </i>
            </div>

        </div>
    </div>
    </div>
</section>