   <!-- Summary Section -->
   <section id="summary" class="container content-section text-center">
    <img src="../img/Profile_Pic.jpg" height="400"/>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2" >
                <p></p>
                <h2>Summary</h2>
                <p>
                    Sivar Azadi is a graduate from the University of California, Santa Barbara’s (UCSB) College of Letters and Science, 
                    where he received a Bachelor of Science in Physics with departmental honors. In addition to his background in physics,
                    Sivar has also honed his skills in machine learning and data science through his experience at UNDO Carbon, the 
                    LUX-ZEPLIN (LZ) dark matter experiment, and various personal projects. Sivar is currently seeking new opportunities 
                    in the field of data science and machine learning.
                </p>
            </div>
        </div>
    </div>
</section>