   <!-- Summary Section -->
   <section id="summary" class="container content-section text-center">
    <img src="../img/Profile_Pic.jpg" height="400"/>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2" >
                <p></p>
                <h2>Summary</h2>
                <p>
                    Sivar Azadi is a recent graduate from the University of California, Santa Barbara’s (UCSB) College of Letters and Science, where he received 
                    a Bachelor of Science in Physics with departmental honors. In addition to his background in physics, Sivar has also honed his skills in machine learning 
                    and data science. He has obtained certifications in Coursera's Deep Learning Specialization, DataCamp's Associate Data Scientist, and an AWS Associate 
                    Solutions Architect Course and developed experience through various personal projects.
                </p>
                <p>
                    Sivar has proven himself to be a quick learner, he has been able to put his knowledge into practice in his previous role as a particle physics research analyst 
                    for the Lippincott Group at UCSB, where he worked on the analysis of particle interactions and developed tools for automated data quality monitoring 
                    for the LUX-ZEPLIN (LZ) dark matter experiment.
                </p>
                <p>
                    Sivar has completed several personal projects, such as developing a deep U-Net model for image segmentation to detect cancer in ultrasound images 
                    and building a binary classification model that can classify art movements. He also has ongoing projects in dynamic object tracking and predictive 
                    NLP modeling to determine the outcome of Supreme Court cases. Sivar is currently seeking new opportunities in the field of data science and machine learning.
                </p>
            </div>
        </div>
    </div>
</section>