<section id="thesis" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div style="text-align: center; padding-bottom: 30px;">
                <h2>Bachelor Thesis</h2>
            </div>
            <div class="thesis">
                <a href="https://www.physics.ucsb.edu/sites/default/files/sitefiles/education/thesis/Azadi_Thesis.pdf" style="font-size: medium;"> 
                    Offline Data Quality Monitoring for Skin Detector of LUX-ZEPLIN (LZ) WIMP Detector 
                </a>
                <div class="image" style="text-align: center; padding-bottom: 15px;">
                    <img src="img/Kr83m_mapping_python.gif" style="width:350px;height:375x;text-align: center; padding-right: 10px; padding-top: 10px;" alt="" />
                    <img src="img/LZ_Detector.jpg" style="width: 350px;height:375x;text-align: center; padding-left: 10px; padding-top: 10px; " alt="" />
                </div>
                <i>
                    <p style="font-size: small; padding-top: 10px;">
                        Presents the work done in maintaining the LZ health module,
                        tuning it as commissioning data is being taken to ensure data quality, and the various 
                        independent analyses accompanied in developing and understanding the Skin as an effective
                        veto system.  
                    </p>
                </i>
            </div>

        </div>
    </div>
    </div>
</section>